html,
body,
#root {
  height: 100%;
  padding: 0;
  margin: 0;
}

p {
  margin: 8px 0;
}

a {
  text-decoration: none;
}

div {
  box-sizing: border-box;
}

sup {
  line-height: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: "Helvetica", "Arial", sans-serif;
}

@font-face {
  font-family: "Vollkorn";
  src: url("./assets/Vollkorn-Regular.ttf") format("truetype");
}
